.image-with-text-container{
	width:95%;
	height:100px;
	margin:0px auto;
	padding-top:1px;
    background-color: #fff;
}
.company-logo{
	
	display: inline;
    position: absolute;
}
.company-name{
	display: inline;
    position: absolute;
   padding: 20px 20px 20px 70px;
  font-family: 'Roboto', sans-serif;
    font-size:30px;
    color:rgba(68,68,68,0.8);
}